.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

.two-colums__brif {
  width: 175px;
  height: 100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-colums__main-text {
 width: 80%;
 min-width: 784px;
 justify-content: space-between;
}

.two-colums__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-colums__paragraph:nth-of-type(2n) {
  margin: 30px 0 30px 0;
}
