@import url(../section-title/_theme/section-title_theme_dark.css);
@import url(../section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../table/_theme/table_theme_dark.css);
@import url(../rotation/rotation.css);

.kaufman {
  padding: 90px 0 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  z-index: -1;
  animation: rotation linear 20s infinite;
}
