@import url(../two-colums/two-colums.css);

.description {
  display: flex;
  border: 1px dotted red;
  justify-content: center;
  margin: 100px 0 0 0;
}

.span-assent {
  font-weight: bold;
}

.between-p {
  margin: 30px 0 30px 0;
}
