.feyman {
  min-height: 890px;
  margin: 0 auto;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../../images/feinman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
}

.feyman__title {
  width: 648px;
  margin: 100px auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feyman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto;
}

.feyman__link {
  position: absolute;
  top: 580px;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
